<template>
  <v-container>
    <v-row>
      <v-col>
        <h2 class="text-center">
          Your Cart
        </h2>
      </v-col>
    </v-row>
    <template v-if="cart.length">
      <v-slide-x-transition group>
        <v-row v-for="item in cart" :key="item.id">
          <cart-item :item="item"></cart-item>
        </v-row>
      </v-slide-x-transition>
    </template>
    <v-row v-else>
      <v-col class="text-center">
        <h4 class="pa-3">You have no items in cart.</h4>
        <v-btn :to="{ name: 'products' }" color="red" class="white--text"
          >Back to Products</v-btn
        >
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-row>
      <v-col>
        <h4 class="text-right">Total: &#8369;{{ total.toLocaleString() }}</h4>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
import CartItem from "../components/CartItem";
export default {
  name: "Cart",
  components: { CartItem },
  computed: {
    ...mapGetters({
      total: "cartTotal",
      cart: "cart"
    })
  }
};
</script>

<style></style>
