<template>
  <v-container>
    <v-row>
      <v-col>
        <v-expansion-panels accordion>
          <v-expansion-panel v-for="category in categories" :key="category.id">
            <v-hover v-slot:default="{ hover }">
              <v-expansion-panel-header
                >{{ category.title }}

                <span
                  :style="hover ? { display: 'initial' } : { display: 'none' }"
                >
                  <v-icon @click.stop="editCategory(category)"
                    >mdi-pencil</v-icon
                  >
                  <v-icon @click.stop="deleteCategory(category)"
                    >mdi-delete</v-icon
                  >
                </span>
              </v-expansion-panel-header>
            </v-hover>
            <v-expansion-panel-content>
              <v-expansion-panels accordion>
                <v-expansion-panel
                  v-for="brand in category.brands"
                  :key="brand.id"
                >
                  <v-hover v-slot:default="{ hover }">
                    <v-expansion-panel-header
                      >{{ brand.title }}
                      <span
                        :style="
                          hover ? { display: 'initial' } : { display: 'none' }
                        "
                      >
                        <v-icon @click.stop="editBrand(brand)"
                          >mdi-pencil</v-icon
                        >
                        <v-icon @click.stop="deleteBrand(brand)"
                          >mdi-delete</v-icon
                        >
                      </span>
                    </v-expansion-panel-header>
                  </v-hover>
                  <v-expansion-panel-content>
                    <v-list>
                      <v-list-item
                        two-line
                        v-for="product in brand.products"
                        :key="product.id"
                      >
                        <v-list-item-content>
                          <v-hover v-slot:default="{ hover }">
                            <v-list-item-title>
                              <span>
                                {{ product.title }}
                              </span>
                              <span
                                :style="
                                  hover
                                    ? { display: 'initial' }
                                    : { display: 'none' }
                                "
                              >
                                <v-icon @click.stop="editProduct(product)"
                                  >mdi-pencil</v-icon
                                >
                                <v-icon @click.stop="deleteProduct(product)"
                                  >mdi-delete</v-icon
                                >
                              </span>
                            </v-list-item-title>
                          </v-hover>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item @click="addProduct(brand)">
                        <v-list-item-content>
                          <v-list-item-title class="grey--text"
                            >Add Product</v-list-item-title
                          >
                        </v-list-item-content>
                      </v-list-item>
                    </v-list>
                  </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel readonly @click="addBrand(category)">
                  <v-expansion-panel-header
                    hide-actions
                    class="grey--text"
                    ripple
                  >
                    Add Brand
                  </v-expansion-panel-header>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel readonly @click="addCategory">
            <v-expansion-panel-header hide-actions class="grey--text" ripple>
              Add Category
            </v-expansion-panel-header>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
    </v-row>

    <v-dialog v-model="dialog.show" max-width="500px">
      <v-card>
        <v-card-title>
          {{ dialog.title }}
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col>
                <v-text-field v-model="item.title" :label="`${item.type} Name`">
                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-text-field
                  type="number"
                  min="1"
                  :label="`${item.type} Order`"
                  v-model="item.order"
                ></v-text-field>
              </v-col>
              <v-col v-show="isProduct">
                <v-text-field
                  label="Price"
                  type="number"
                  min="0"
                  v-model="item.price"
                ></v-text-field>
              </v-col>
            </v-row>
            <template v-if="isProduct">
              <v-row>
                <v-col>
                  <v-checkbox
                    v-model="item.on_sale"
                    label="On Sale"
                  ></v-checkbox>
                </v-col>
                <v-col>
                  <v-text-field
                    label="Sale Price"
                    type="number"
                    min="0"
                    v-model="item.sale_price"
                  ></v-text-field>
                </v-col>
              </v-row>
            </template>
          </v-container>
        </v-card-text>
        <v-card-actions class="justify-space-around">
          <v-btn @click="saveEntity" color="primary" :disabled="!item.title"
            >Save</v-btn
          >
          <v-btn @click="hideDialog">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="confirmDialog.show" max-width="500px">
      <v-card>
        <v-card-title>
          {{ confirmDialog.title }}
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <p class="title">
            Are you sure you want to delete
            <strong class="red--text">{{ item.title }}</strong
            >?
          </p>
        </v-card-text>
        <v-card-actions class="justify-space-around">
          <v-btn @click="removeEntity(item)" color="error">Confirm</v-btn>
          <v-btn @click="hideConfirmDialog">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Config",
  data() {
    return {
      item: this.createFreshItem(),
      dialog: {
        show: false,
        title: ""
      },
      confirmDialog: {
        show: false,
        title: ""
      }
    };
  },
  computed: {
    isProduct() {
      return this.item.type == "Item";
    },
    ...mapGetters(["categories"])
  },
  methods: {
    addProduct(brand) {
      this.item = this.createFreshItem();
      this.item.parent_id = brand.id;
      this.item.type = "Item";
      this.showDialog("Adding Item");
    },
    editProduct(product) {
      this.item = { ...product };
      this.item.type = "Item";
      this.showDialog("Editing Item");
    },
    deleteProduct(product) {
      this.item = product;
      this.item.type = "Item";
      this.showConfirmDialog();
    },
    addBrand(category) {
      this.item = this.createFreshItem();
      this.item.parent_id = category.id;
      this.item.type = "Group";
      this.showDialog("Adding Group");
    },
    editBrand(brand) {
      this.item = { ...brand };
      this.item.type = "Group";
      this.showDialog("Editing Group");
    },
    deleteBrand(brand) {
      this.item = brand;
      this.item.type = "Group";
      this.showConfirmDialog();
    },
    addCategory() {
      this.item = this.createFreshItem();
      this.item.type = "Category";
      this.showDialog("Adding Category");
    },
    editCategory(category) {
      this.item = { ...category };
      this.item.type = "Category";
      this.showDialog("Editing Category");
    },
    deleteCategory(category) {
      this.item = category;
      this.item.type = "Category";
      this.showConfirmDialog();
    },
    saveEntity() {
      if (!this.item.id) {
        this.addEntity(this.item);
      } else {
        const { brands, products, type, ...entity } = this.item;
        this.editEntity(entity);
      }

      this.hideDialog();
    },
    removeEntity(entity) {
      this.deleteEntity(entity);
      this.item = this.createFreshItem();
      this.hideConfirmDialog();
    },
    createFreshItem() {
      return {
        title: "",
        type: ""
      };
    },
    showDialog(title) {
      this.dialog.title = title;
      this.dialog.show = true;
    },
    hideDialog() {
      this.dialog.show = false;
    },
    showConfirmDialog(title = "Confirming Delete") {
      this.confirmDialog.title = title;
      this.confirmDialog.show = true;
    },
    hideConfirmDialog() {
      this.confirmDialog.show = false;
    },
    ...mapActions(["addEntity", "editEntity", "deleteEntity"])
  }
};
</script>

<style></style>
