<template>
  <v-container>
    <v-row>
      <v-col>
        <v-tabs>
          <v-tab v-for="category in categories" :key="category.id">
            {{ category.title }}
          </v-tab>

          <v-tab-item v-for="category in categories" :key="category.id">
            <category :category="category"></category>
          </v-tab-item>
        </v-tabs>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
import Category from "../components/Category";

export default {
  name: "Products",
  components: { Category },
  computed: {
    ...mapGetters(["categories"])
  }
};
</script>

<style scoped></style>
