<template>
  <v-card>
    <v-card-title class="justify-center text-center">
      {{ brand.title }}
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <v-container>
        <v-row>
          <v-col
            v-for="product in brand.products"
            :key="product.id"
            xs="12"
            sm="4"
          >
            <product :product="product"></product>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import Product from "./Product";
export default {
  name: "Brand",
  components: { Product },
  props: {
    brand: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped></style>
