<template>
  <v-col md="8" offset-md="2">
    <v-row>
      <v-col align-self="center" xs="6" sm="4">
        <v-card>
          <v-card-title class="justify-center text-center title">
            {{ item.title }}
          </v-card-title>
          <v-img
            src="https://dummyimage.com/128x128/000/fff"
            class="white--text cart-item__image"
          >
            <v-card-title
              class="justify-center align-end fill-height cart-item__price subtitle-1"
            >
              <v-chip color="info">
                &#8369;{{ item.final_price.toLocaleString() }}
              </v-chip>
            </v-card-title>
          </v-img>
        </v-card>
      </v-col>
      <v-col align-self="center">
        <v-row>
          <v-spacer v-show="$vuetify.breakpoint.smAndUp"></v-spacer>
          <v-col sm="6" md="4">
            <v-text-field
              type="number"
              :value="item.quantity"
              @input="changeItemQuantity({ item, quantity: $event })"
              min="0"
              prepend-icon="mdi-chevron-left"
              @click:prepend="decreaseQuantity(item)"
              append-outer-icon="mdi-chevron-right"
              @click:append-outer="increaseQuantity(item)"
            ></v-text-field>
          </v-col>
          <v-spacer v-show="$vuetify.breakpoint.smAndUp"></v-spacer>
        </v-row>
      </v-col>
      <v-col align-self="center" xs="3" sm="2" md="1">
        <p class="text-right">
          &#8369;{{ (item.final_price * item.quantity).toLocaleString() }}
        </p>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "CartItem",
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  methods: {
    ...mapActions([
      "changeItemQuantity",
      "increaseQuantity",
      "decreaseQuantity"
    ])
  }
};
</script>

<style scoped lang="scss">
.cart-item {
  &__price {
    transform: translateY(24px);
  }

  &__image {
    overflow: visible;
  }
}
</style>
