<template>
  <v-container>
    <v-row v-for="brand in category.brands" :key="brand.id">
      <v-col>
        <brand :brand="brand"></brand>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Brand from "./Brand";
export default {
  name: "Category",
  components: { Brand },
  props: {
    category: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped></style>
