<template>
  <v-card height="100%">
    <v-card-title class="justify-center text-center">
      {{ product.title }}
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text class="text-center">
      <v-img src="https://dummyimage.com/128x128/000/fff" contain></v-img>
      <p :class="product.on_sale ? '' : 'product__price--hidden'">
        <span class="product__price--sale">
          SALE
        </span>
        <span class="product__price--invalid"
          >&#8369;{{
            product.on_sale ? product.price.toLocaleString() : 0
          }}</span
        >
      </p>
      <p
        class="headline"
        :class="
          product.on_sale
            ? ['product__price--sale', 'product__price--blink']
            : []
        "
      >
        &#8369;{{
          product.on_sale
            ? product.sale_price.toLocaleString()
            : product.price.toLocaleString()
        }}
      </p>
    </v-card-text>
    <v-spacer></v-spacer>
    <v-card-actions class="justify-center">
      <v-btn @click="addToCart(product)" color="primary">Add to Cart</v-btn>
    </v-card-actions>

    <v-slide-x-reverse-transition>
      <v-snackbar v-model="snackbar.show" color="primary" bottom right>
        {{ snackbar.message }}
        <v-btn text @click="snackbar.show = false">Close</v-btn>
      </v-snackbar>
    </v-slide-x-reverse-transition>
  </v-card>
</template>

<script>
export default {
  name: "Product",
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      snackbar: {
        show: false,
        message: ""
      }
    };
  },
  methods: {
    addToCart(product) {
      this.$store.dispatch("addToCart", product);

      this.snackbar.message = `${product.title} added to cart`;
      this.snackbar.show = true;
    }
  }
};
</script>

<style scoped lang="scss">
.product {
  &__price {
    &--sale {
      color: red;
    }

    &--blink {
      animation: blinker 1s linear infinite;
    }

    &--invalid {
      text-decoration: line-through;
    }

    &--hidden {
      opacity: 0;
    }
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
</style>
