<template>
  <v-navigation-drawer app :value="drawer" @input="updateDrawer">
    <v-list>
      <v-list-item
        v-for="route in routes"
        :key="route.label"
        :to="{ name: route.name }"
        exact
        link
      >
        <v-list-item-icon>
          <v-badge v-if="route.name == 'cart'">
            <template v-slot:badge>
              {{ cartTotalQuantity }}
            </template>
            <v-icon>{{ routeIcon(route.name) }}</v-icon>
          </v-badge>
          <v-icon v-else>{{ routeIcon(route.name) }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>
            {{ route.label }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters } from "vuex";
import router from "../router";

export default {
  name: "TheNavigation",
  props: {
    drawer: {
      required: true
    }
  },
  computed: {
    routes() {
      return router.options.routes.map(route => {
        return {
          label: route.name.charAt(0).toUpperCase() + route.name.slice(1),
          name: route.name
        };
      });
    },
    ...mapGetters(["cartTotalQuantity"])
  },
  methods: {
    updateDrawer(drawer) {
      this.$emit("update:drawer", drawer);
    },
    routeIcon(route) {
      switch (route) {
        case "products":
          return "mdi-cellphone";
        case "cart":
          return "mdi-cart";
        case "config":
          return "mdi-settings";
      }
    }
  }
};
</script>

<style scoped></style>
