<template>
  <v-app>
    <v-app-bar app color="blue" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Yondu || Globe || SPA || Exam</v-toolbar-title>
    </v-app-bar>

    <the-navigation :drawer.sync="drawer"></the-navigation>

    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import TheNavigation from "./components/TheNavigation";
import { mapActions } from "vuex";

export default {
  name: "App",
  components: { TheNavigation },
  data() {
    return {
      drawer: null
    };
  },
  async created() {
    const response = await fetch("/exam-data.json");
    const { data: products } = await response.json();

    this.setProducts(products);
  },
  methods: {
    ...mapActions(["setProducts"])
  }
};
</script>
